<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <div id="app">
        <my-component></my-component>
    </div>

    <div id="app2">
        <my-component></my-component>
    </div>

    <script>
        const component = {
            template: `
              <div>
                <input type="text" v-model="inputValue">
                <h1>Hello {{ inputValue }}</h1>
                <ul>
                  <li v-for="(item, index) in list">
                    My name is: {{ item }} {{ index }}
                  </li>
                </ul>
                <template v-for="(value, key) in objectLists">
                  <h1>{{ value }}</h1>
                  <h2>{{ key }}</h2>
                </template>
              </div>
            `,
            data: function () {
                return {
                    inputValue: 'World!',
                    list: [
                        'Sergey',
                        'Alex',
                    ],
                    objectLists: {
                        10: true,
                        'keyName': 'Some value',
                    },
                }
            },
            watch: {
                inputValue: function(value) {
                    console.log(value);
                }
            }
        };

        new Vue({
            el: '#app',
            components: {
                myComponent: component
            }
        })

        new Vue({
            el: '#app2',
        })
    </script>
</body>
</html>